body {
	background-image: linear-gradient(to right, rgb(119, 169, 235),
		rgb(151, 195, 216));
}

fieldset {
	border: 3px solid dodgerblue;
}

legend {
	border: 1px solid dodgerblue;
	padding: 10px;
	text-align: center;
	background-color: dodgerblue;
	border-radius: 8px;
	color: white;
}

#button {
	background-image: linear-gradient(to right, rgb(115, 173, 221, 0.89),
		rgba(34, 131, 187, 0.932));
	width: 100%;
	border: none;
	padding: 15px;
	color: white;
	font-size: 15px;
	cursor: pointer;
	border-radius: 10px;
}

#button:hover {
	background-image: linear-gradient(to right, rgb(6, 114, 255),
		rgba(0, 119, 255, 0.87));
}