<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
	xmlns:layout="htpp://www.ultraq.net.nz/thymeleaf/layout">
<head>

<link rel="stylesheet" href="/_css/estilo1.css">
<title>ClientesApp</title>
</head>
<body>
	<div>
		<fieldset>
			<legend>
				<h1>Cadastro de Clientes:</h1>
			</legend>
			<br>
			<form method="post" action="">
			
			Nome: <input type="text" value="" name="nome"  required/>
			Cidade: <input type="text" value="" name="local"  />
			Data: <input type="date"value="" name="data"  /> 
			Email: <input type="email" value=""name="horario"  required /><br><br>
			
				<button id="button" type="submit">Cadastrar</button><br>

			</form>
		</fieldset>
	</div>
</body>
</html>