<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
	xmlns:layout="htpp://www.ultraq.net.nz/thymeleaf/layout" lang="pt-br">

<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link rel="stylesheet" href="/_css/estilo.css">
<script src="https://kit.fontawesome.com/4bcb73e3e2.js"
	crossorigin="anonymous"></script>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link
	href="https://fonts.googleapis.com/css?family=Kaushan+Script|Poppins&display=swap"
	rel="stylesheet">
<title>Projeto Advocacia</title>
</head>

<body>
	<section id="banner">
		<img src="_imagens/site_advocacia3.png " class="logo"
			alt="Logo do site">
		<div class="banner-text">
			<h1>Advocacia Especializada em Direito Digital</h1>
			<p>Sua empresa em conformidade com LGPD</p>
			<div class="banner-btn">
				<a href="#service"><span></span>Soluções Jurídicas</a> <a href="/cadastrarCliente"><span></span>Adequação
					à LGPD</a>

			</div>
		</div>
	</section>

	<div id="sideNav">
		<nav>
			<ul>
				<li><a href="#banner">Home</a></li>
				<li><a href="#service">Serviços Especializados</a></li>
				<li><a href="#recurso">Sobre Nós</a></li>
				<li><a href="/cadastrarCliente" target="_blank">Quero me
						adequar à LGPD!</a></li>

			</ul>
		</nav>
	</div>
	<div id="menuBtn">
		<img src="_imagens/menu_branco.png" id="menu" alt="Menu de Navegação">

	</div>

	<!-- Recursos -->
	<section id="recurso">
		<div class="title-text">
			<p>SOLUÇÕES DINÂMICAS PARA SEU NEGÓCIO.</p>
			<h1>PORQUE NOS ESCOLHER?</h1>
		</div>

		<div class="recurso-box">
			<div class="recursos">
				<h1>Certificações Cyber Security do EXIN</h1>
				<div class="recursos-desc">
					<div class="recursos-icon">
						<i class="fas fa-user-shield"></i>

					</div>
					<div class="recursos-text">
						<p>
							<b>EXIN</b> cobrem uma lacuna entre profissionais e organizações
							que precisam contratar profissionais qualificados em áreas como
							Hacking Ético, Programação Segura, Privacidade de Dados,
							Continuidade de Negócios, Cloud e Cyber Security Management (ISO
							27002).
						</p>

					</div>

				</div>

				<h1>DPO (Data Protection Officer)</h1>
				<div class="recursos-desc">
					<div class="recursos-icon">
						<i class="fas fa-shield-alt"></i>

					</div>
					<div class="recursos-text">
						<p>Tanto a GDPR como a LGPD exigem a figura de um encarregado
							de proteção de dados, que na GDPR é chamado de DPO (Data
							Protection Officer). O DPO é um dos profissionais mais cobiçados
							e valorizado no momento e continuará assim por muitos anos com o
							aumento do número de países adotando leis de privacidade de
							dados.</p>

					</div>

				</div>

				<h1>Confiança, Ética e Responsabilidade voltado a suas
					necessidades.</h1>
				<div class="recursos-desc">
					<div class="recursos-icon">
						<i class="fas fa-balance-scale"></i>

					</div>
					<div class="recursos-text">
						<p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
							Odio natus aut ex quo tempora sit praesentium est. Officia
							laborum consequatur necessitatibus, eligendi dicta aliquam
							inventore, exercitationem quae dolore, dignissimos perferendis.</p>

					</div>

				</div>

			</div>
			<div class="recursos-img">
				<img src="_imagens/EXIN DPO.png" alt="Certificado">

			</div>

		</div>

	</section>


	<!-- Serviços -->

	<section id="service">
		<div class="title-text">
			<p>PROFICUIDADE.</p>
			<h1>Provemos Soluções Jurídicas de Excelência</h1>
		</div>
		<div class="service-box">
			<div class="single-service">
				<img src="_imagens/logo_site.jpg" alt="Cadeado Virtual">
				<div class="overlay"></div>
				<div class="service-desc">
					<h3>Elaborando...</h3>
					<hr>
					<p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
						Possimus voluptatum vel quia illo, asperiores amet tempore
						deleniti animi quo nulla aut impedit. Iste, odit? Repellendus,
						repudiandae qui? Ratione, assumenda quia?</p>
				</div>
			</div>
			<div class="single-service">
				<img src="_imagens/Banner-principal-DPO-EXIN.png" alt="Consultoria">
				<div class="overlay"></div>
				<div class="service-desc">
					<h3>Elaborando...</h3>
					<hr>
					<p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
						Possimus voluptatum vel quia illo, asperiores amet tempore
						deleniti animi quo nulla aut impedit. Iste, odit? Repellendus,
						repudiandae qui? Ratione, assumenda quia?</p>
				</div>
			</div>
			<div class="single-service">
				<img src="_imagens/img_bancario.jpeg" alt="Imagem de Banco">
				<div class="overlay"></div>
				<div class="service-desc">
					<h3>Elaborando...</h3>
					<hr>
					<p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
						Possimus voluptatum vel quia illo, asperiores amet tempore
						deleniti animi quo nulla aut impedit. Iste, odit? Repellendus,
						repudiandae qui? Ratione, assumenda quia?</p>
				</div>
			</div>
			<div class="single-service">
				<img src="_imagens/img_lgpd.png" alt="LGPD">
				<div class="overlay"></div>
				<div class="service-desc">
					<h3>Elaborando...</h3>
					<hr>
					<p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
						Possimus voluptatum vel quia illo, asperiores amet tempore
						deleniti animi quo nulla aut impedit. Iste, odit? Repellendus,
						repudiandae qui? Ratione, assumenda quia?</p>
				</div>
			</div>



		</div>

	</section>

	<!-- Analise Clientes -->

	<section id="analise">
		<div class="title-text">
			<p>ANÁLISE DE NOSSOS CLIENTES.</p>
			<h1>A Percepção dos nossos Parceiros.</h1>
		</div>
		<div class="analise-row">
			<div class="analise-col">
				<div class="user">
					<img src="_imagens/frank-k.jpg" alt="Foto Cliente">
					<div class="user-info">
						<h4>
							Frank<i class="fa fa-twitter"></i>
						</h4>
						<small>@Frank-k</small>

					</div>
				</div>
				<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.
					Quasi ratione deserunt reiciendis voluptates, temporibus quidem
					soluta nostrum! Illum, sit necessitatibus ullam asperiores sint
					aperiam quasi numquam consequuntur odit id repellendus?.Exelente</p>
			</div>
			<div class="analise-col">
				<div class="user">
					<img src="_imagens/kyrra-macdonald.jpg" alt="Foto Cliente">
					<div class="user-info">
						<h4>
							kyrra<i class="fa fa-twitter"></i>
						</h4>
						<small>@kyrra-macdonald</small>

					</div>
				</div>
				<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde
					at recusandae fuga aliquid ut, fugiat, voluptates nobis doloremque
					quam, nemo repudiandae quod exercitationem incidunt. Inventore
					culpa velit vitae temporibus fugiat..Exelente</p>
			</div>
			<div class="analise-col">
				<div class="user">
					<img src="_imagens/pexels-ron-lach-9530896.jpg" alt="Foto Cliente">
					<div class="user-info">
						<h4>
							Ron<i class="fa fa-twitter"></i>
						</h4>
						<small>@Ron-lach</small>

					</div>
				</div>
				<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.
					Laborum ad minus distinctio aspernatur doloremque id atque quis,
					cum voluptas beatae tempora repellendus sapiente? Porro, dolores.
					Mollitia officia ducimus perspiciatis ipsum!.Exelente</p>
			</div>
		</div>

	</section>

	<!-- footer -->

	<section id="footer">
		<img src="_imagens/site_advocacia2.png" class="footer-img"
			alt="Balança">
		<div class="title-text">
			<p>CONTATO</p>
			<h1>Agende Sua Consultoria</h1>
		</div>
		<div class="footer-row">
			<div class="footer-left">
				<h1>Horario de Atendimento</h1>
				<p>
					<i class="fa fa-clock-o"></i>Segunda á Sexta - 8:00 a 17:30
				</p>
				<p>
					<i class="fa fa-clock-o"></i>Sabado - 10:00 a 12:00
				</p>
			</div>
			<div class="footer-right">
				<h1>Elaborando...</h1>
				<p>
					RUA Tal, Bairro tal, Cidade Aquela<i class="fa fa-map-marker"></i>
				</p>
				<p>
					examplo@hotmail.com<i class="fa fa-paper-plane"></i>
				</p>
				<p>
					(00)99112-1122<i class="fa fa-phone"></i>
				</p>

			</div>

		</div>
		<div class="social-link">
			<i class="fa fa-facebook"></i> <i class="fa fa-instagram"></i> <i
				class="fa fa-twitter"></i> <i class="fa fa-youtube-play"></i> <i
				class="fa fa-linkedin"></i>
			<p>Copyright Rodnei Henrique dos Santos.</p>
		</div>
	</section>


	<script src="_javascript/index.js"></script>
</body>

</html>